@import "src/global/global";

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.formCategory {
  display: flex;
  flex: 1;
  flex-direction: column;

  margin-top: 16px;
}

.title {
  color: $text-color;
  text-align: center;
  font-size: 28px;
  font-weight: normal;
}

.previewContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.previewItem {
  display: flex;
  gap: 16px;

  align-items: center;
  justify-content: center;
}

.previewTitle {
  font-size: 18px;
  color: $text-color;
}

.previewImage {
  align-self: center;
  height: 64px;
  width: 64px;
  border-radius: 50%;
}

.bottom {
  .btnBack {
    display: none;
  }
}

@media (max-width: $max-width-sm) {
  .bottom button {
    width: 100%;
  }
}

@media (min-width: $min-width-sm) {
  .bottom {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 16px;

    .btnBack {
      display: block;
    }
  }

  .formCategory {
    height: auto;
    flex: unset;
    margin-top: 24px;
    margin-bottom: 24px;
    gap: 0;
  }
}
