@import "src/global/global";

.container {
  display: grid;

  background-color: $primary-color;

  padding: 12px;
  border-radius: 0;
}

.messageContainer {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.emojiArea {
  position: relative;
}

.emojiContainer {
  position: absolute;
  bottom: 48px;
  z-index: 20;
}

.emojiIcon {
  font-size: 32px;
  color: rgba($color: #fff, $alpha: 0.5);
  cursor: pointer;
}

.messageInput {
  padding: 8px;
  max-height: 300px;
}

.containerBtnSend {
  overflow: hidden;
}

.btnSendMessage {
  position: relative;
}

.sendIcon {
  font-size: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $accent-color;
  outline: none;
}
