@import "src/global/global";

.container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.iconReturn {
  font-size: 32px;
  color: $text-color;
  cursor: pointer;
}

.title {
  color: $text-color;
  font-size: 22px;
}

@media (min-width: $min-width-sm) {
  .container {
    display: none;
  }
}
