@import "src/global/global";

$size-header: 36px;
$size-content: 1fr;
$size-bottom: auto;

.container {
  width: 100vw;

  display: grid;

  grid-template-areas:
    "header"
    "content"
    "bottom";

  grid-template-rows:
    $size-header
    $size-content
    $size-bottom;
}

.header {
  grid-area: header;
}

.content {
  grid-area: content;
  padding-left: 8px;
  padding-right: 8px;
}

.bottom {
  grid-area: bottom;
}

@media only screen and (min-width: $min-width-lg) {
  .container {
    grid-template-rows:
      $size-header
      $size-content
      $size-bottom;
  }

  .bottomResize {
    margin: 0px 16px 16px 16px;
    width: calc(100% - 32px);
    border-radius: 8px !important;
  }
}
