@import "src/global/global";

.container {
  display: flex;
  align-items: center;

  gap: 8px;
  padding: 8px;

  background-color: $primary-color;
}

.iconReturn {
  font-size: 32px;
  color: $text-color;
  cursor: pointer;
}

.imgCategory {
  height: 48px;
  width: 48px;
  border-radius: 50%;
}

.title {
  color: $text-color;
  font-size: 22px;
}

@media only screen and (min-width: $min-width-lg) {
  .iconReturn {
    display: none;
  }
}
